.preview {
    width: 165px;
    display: inline-block;
    background-color: #fff;
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
    -webkit-box-shadow: 0 2px 1px rgba(9,9,9,.07);
	-moz-box-shadow: 0 2px 1px rgba(9,9,9,.07);
	box-shadow: 0 2px 1px rgba(9,9,9,.07);
	border: solid 1px #b6b6b6;
    vertical-align: top;
    overflow: hidden;
    margin: 25px 11px;
    text-align: center;
}

.site_name {
    padding: 5px 0px;
    background-color: #f2f2f2;
    color: #727070;
    font-family: 'open_sanssemibold';
    font-size: 13px;
    line-height: 1.77;
}

.description {
    font-family: 'open_sanslight';
    font-size: 12px;
    line-height: 1.33;
    color: #727070;
    padding: 7px 12px 7px 15px;
}

.polaroid {
    display: block;
    background-image: url(../images/polaroid.png);
    width: 20px;
    height: 20px;
}

.new_preview {
    box-sizing: border-box;
	height: 131px;
    -webkit-box-shadow: 0 2px 1px rgba(9,9,9,.07), inset 0 -2px 3px rgba(41,41,41,.05), inset 0 0 3px #f6f7f7;
	-moz-box-shadow: 0 2px 1px rgba(9,9,9,.07), inset 0 -2px 3px rgba(41,41,41,.05), inset 0 0 3px #f6f7f7;
	box-shadow: 0 2px 1px rgba(9,9,9,.07), inset 0 -2px 3px rgba(41,41,41,.05), inset 0 0 3px #f6f7f7;
	background-image: -webkit-linear-gradient(bottom, #edebea, #fbf9f9 94%, #fff);
	background-image: -moz-linear-gradient(bottom, #edebea, #fbf9f9 94%, #fff);
	background-image: -o-linear-gradient(bottom, #edebea, #fbf9f9 94%, #fff);
	background-image: -ms-linear-gradient(bottom, #edebea, #fbf9f9 94%, #fff);
	background-image: linear-gradient(to top, #edebea, #fbf9f9 94%, #fff);
    padding: 25px 18px 19px 22px;
}

.add_project_sign {
    font-family: 'open_sanssemibold';
    font-size: 14px;
    line-height: 1.57;
    color: #727070;
	text-shadow: 0 1px rgba(255,255,255,.75);
    margin-top: 12px;
    float: right;
}

.align_center {
    margin-left: 31px;
}

.hidden_link {
    width: 100%;
    position: absolute;
    top: 40%;
    transform: scale(0);
    color: #000;
    font-family: 'open_sanssemibold';
    text-shadow: 2px 2px 2px rgba(150, 150, 150, 1);
}

.no-opacity .hidden_link {
    visibility: hidden;
}

.image_wrapper {
    position: relative;
}

.image_wrapper:hover .hidden_link {
	transform: scale(1);
	-webkit-transform: scale(1);
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

.image_wrapper:hover .preview_image {
    background-color: #f7e5a5;
}

.preview_image {
    display: block;
    max-width: 100%;
}

.image_wrapper:hover {
    -moz-opacity: 0.40;
	opacity:.40;
	filter: alpha(opacity=40);
}

.new_preview:hover {
    
    background-image: -webkit-linear-gradient(bottom, #c2c0c0, #e3e1e1 86%, #e3e1e1 87%, #e8e7e7);
	background-image: -moz-linear-gradient(bottom, #c2c0c0, #e3e1e1 86%, #e3e1e1 87%, #e8e7e7);
	background-image: -o-linear-gradient(bottom, #c2c0c0, #e3e1e1 86%, #e3e1e1 87%, #e8e7e7);
	background-image: -ms-linear-gradient(bottom, #c2c0c0, #e3e1e1 86%, #e3e1e1 87%, #e8e7e7);
	background-image: linear-gradient(to top, #c2c0c0, #e3e1e1 86%, #e3e1e1 87%, #e8e7e7);
}

.new_preview:hover .circle {
    background-color: #d7d7d7;
}

#add_project {
    display: none;
    position: absolute;
    z-index: 2;
    top: 130px;
    left: -10px;
    width: 365px;
    background-color: #f6f5f4;
    box-sizing: border-box;
    border: 1px solid #b6b6b6;
    padding: 20px 22px 20px 25px;

    -webkit-border-radius: 4px/7px;
    -moz-border-radius: 4px/7px;
    border-radius: 4px/7px;
    background-color: #f5f4f3;
    -webkit-box-shadow: 0 1px 5px rgba(159,159,159,.75), inset 0 6px 6px #fff;
    -moz-box-shadow: 0 1px 5px rgba(159,159,159,.75), inset 0 6px 6px #fff;
    box-shadow: 0 1px 5px rgba(159,159,159,.75), inset 0 6px 6px #fff;
    border: solid 1px #c3c2c2;
    background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,.5), rgba(255,255,255,.5));
    background-image: -moz-linear-gradient(bottom, rgba(0,0,0,.5), rgba(255,255,255,.5));
    background-image: -o-linear-gradient(bottom, rgba(0,0,0,.5), rgba(255,255,255,.5));
    background-image: -ms-linear-gradient(bottom, rgba(0,0,0,.5), rgba(255,255,255,.5));
    background-image: linear-gradient(to top, rgba(0,0,0,.5), rgba(255,255,255,.5));
    background-blend-mode: soft-light;
}

.add_project:before {
    position: absolute;
    top: -24px;
    content: 'Добавление проекта';
    color: #f6f5f4;
    font-size: 12px;
}

#add_project_close {
    cursor: pointer;
    position: absolute;
    top: 8px;
    right: 8px;
}

.upload_input {
    cursor: pointer;
    display: inline-block;
    width: 266px;
    padding: 10px;
}

.upload_input:after {
    cursor: pointer;
    position: absolute;
    content: url(../images/upload.png);
    display: inline-block;
    box-sizing: border-box;
    padding-top: 10px;
    padding-left: 11px;
    width: 50px;
    height: 41px;
    right: 0px;
    top: 0px;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
    background-color: #fbf9f9;
    -webkit-box-shadow: 0 2px 1px rgba(9,9,9,.07), inset 0 -2px 3px rgba(41,41,41,.05), inset 0 0 3px #f6f7f7;
    -moz-box-shadow: 0 2px 1px rgba(9,9,9,.07), inset 0 -2px 3px rgba(41,41,41,.05), inset 0 0 3px #f6f7f7;
    box-shadow: 0 2px 1px rgba(9,9,9,.07), inset 0 -2px 3px rgba(41,41,41,.05), inset 0 0 3px #f6f7f7;
    border: solid 1px #c3c2c2;
    background-image: -webkit-linear-gradient(bottom, #e9e6e5, #fbf9f9 94%, #fff);
    background-image: -moz-linear-gradient(bottom, #e9e6e5, #fbf9f9 94%, #fff);
    background-image: -o-linear-gradient(bottom, #e9e6e5, #fbf9f9 94%, #fff);
    background-image: -ms-linear-gradient(bottom, #e9e6e5, #fbf9f9 94%, #fff);
    background-image: linear-gradient(to top, #e9e6e5, #fbf9f9 94%, #fff);
}

.textarea {
    resize: none;
    height: 110px;
    padding: 10px 10px 2px 10px;
}

.button_wrapper {
    text-align: center;
}

.input {
    margin-bottom: 11px;
}

.error_block {
    background-image: url(../images/err_mid.png);
    position: absolute;
    font-family: 'open_sanssemibold';
    font-size: 12px;
    color: #9a4e32;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.45);
    padding: 5px 3px;
    box-sizing: border-box;
    height: 27px;
}

.error_block:before {
    background-image: url(../images/err_start.png);
    content: '';
    position: absolute;
    width: 5px;
    height: 27px;
    left: -4px;
    top: 0px;
}

.error_block:after {
    background-image: url(../images/err_end.png);
    content: '';
    position: absolute;
    width: 11px;
    height: 27px;
    right: -10px;
    top: 0px;
}

.input_block {
    position: relative;
}

.no-margin {
    margin: 0px;
}

.file_hidden {
    display: none;
}