.form_row {
    margin-bottom: 15px;
}

.left_col {
    float: left;
}

.right_col {
    float: right;
}

.form_block {
    width: 400px;
    margin: 0px auto;
}

.text_block {
    width: 190px;
}

.textarea {
    height: 180px;
    resize: none;
}

.captcha {
    width: 100%;
    height: 90px;
    float: left;
    content: '';
    border: 1px solid black;
}

.captcha_field {
    margin: 30px 0px 0px 20px;
}

.cancel_button {
	-webkit-box-shadow: 0 2px 1px rgba(9,9,9,.07), inset 0 -2px 3px rgba(41,41,41,.05), inset 0 0 3px #f6f7f7;
	-moz-box-shadow: 0 2px 1px rgba(9,9,9,.07), inset 0 -2px 3px rgba(41,41,41,.05), inset 0 0 3px #f6f7f7;
	box-shadow: 0 2px 1px rgba(9,9,9,.07), inset 0 -2px 3px rgba(41,41,41,.05), inset 0 0 3px #f6f7f7;
	border: solid 1px #c3c2c2;
	background-image: -webkit-linear-gradient(bottom, #e9e6e4, #fbf9f9 94%, #fff);
	background-image: -moz-linear-gradient(bottom, #e9e6e4, #fbf9f9 94%, #fff);
	background-image: -o-linear-gradient(bottom, #e9e6e4, #fbf9f9 94%, #fff);
	background-image: -ms-linear-gradient(bottom, #e9e6e4, #fbf9f9 94%, #fff);
	background-image: linear-gradient(to top, #e9e6e4, #fbf9f9 94%, #fff);
    color: #727070;
}

.cancel_button:hover {
	-webkit-box-shadow: inset 0 -2px 3px rgba(41,41,41,.05), inset 0 0 3px rgba(202,202,202,.61);
	-moz-box-shadow: inset 0 -2px 3px rgba(41,41,41,.05), inset 0 0 3px rgba(202,202,202,.61);
	box-shadow: inset 0 -2px 3px rgba(41,41,41,.05), inset 0 0 3px rgba(202,202,202,.61);
	background-image: -webkit-linear-gradient(bottom, #c2c0c0, #e3e1e1 86%, #e3e1e1 87%, #e8e7e7);
	background-image: -moz-linear-gradient(bottom, #c2c0c0, #e3e1e1 86%, #e3e1e1 87%, #e8e7e7);
	background-image: -o-linear-gradient(bottom, #c2c0c0, #e3e1e1 86%, #e3e1e1 87%, #e8e7e7);
	background-image: -ms-linear-gradient(bottom, #c2c0c0, #e3e1e1 86%, #e3e1e1 87%, #e8e7e7);
	background-image: linear-gradient(to top, #c2c0c0, #e3e1e1 86%, #e3e1e1 87%, #e8e7e7);
}

.ie-placeholder {
    font-size: 14px;
    font-family: 'open_sanslight';
    color: #c7c6c6;
    line-height: 2;
}