* {
    margin: 0;
}

html, body {
    height: 100%;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5 {
    margin: 0;
}

.opacity .background {
    background: url(../images/background.jpg) no-repeat center center fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.no-opacity .background {
    background-color: #eae8ad;
}

.sprite {
    background-image: url(../images/spritesheet.png);
    background-repeat: no-repeat;
    float: left;
    list-style-type: none;
}

.wrapper {
    min-height: 100%;
    margin-bottom: -61px;
}

.wrapper:after {
    content: "";
    display: block;
    height: 61px;
}

.container {
    font-family: 'open_sansregular';
    max-width: 960px;
    min-width: 320px;
    margin: 35px auto;
}

.cf:before,.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}