* {
    margin: 0;
}

html, body {
    height: 100%;
}

.background {
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: none;
    background-attachment: fixed;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/background.jpg', sizingMethod='scale');
-ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../images/background.jpg', sizingMethod='scale')";
}

.wrapper {
    min-height: 100%;
    margin-bottom: -61px;
}

.wrapper:after {
    content: "";
    display: block;
    height: 61px;
}

.container {
    width: 960px;
    margin: 35px auto;
    border: 1px solid black;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}