.sidebar_wrapper {
    width: 250px;
    float: left;
}

.sidebar1 {
    width: inherit;
    margin-bottom: 35px;
}

.sidebar1 nav:first-child {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.sidebar1 nav:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.sidebar1 div:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.button {
    font-family: 'open_sanssemibold';
    font-size: 20px;
    line-height: 1.1;
    padding: 16px 0px 16px 30px;
    background-color: #f2efef;
    background-image: -moz-linear-gradient( 90deg, rgb(233,230,229) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(233,230,229) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(233,230,229) 0%, rgb(251,249,249) 94%, rgb(255,255,255) 100%);
    box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.07),inset 0px -2px 3px 0px rgba(41, 41, 41, 0.05);    
    border: 1px solid #c5c5c5;
    box-sizing: border-box;
}

.menu_link {
    color: #727070;
    text-decoration: none;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
    display: block;
}

.menu_link:visited {
    color: #727070;
}

.button:hover {
    background-color: #d4d2d2;
    background-image: -webkit-linear-gradient(bottom, rgb(194,192,192) 0%, rgb(227,225,225) 87%, rgb(230,228,228) 90%, rgb(232,231,231) 100%);
    background-image: -o-linear-gradient(bottom, rgb(194,192,192) 0%, rgb(227,225,225) 87%, rgb(230,228,228) 90%, rgb(232,231,231) 100%);
    background-image: linear-gradient(to top, rgb(194,192,192) 0%, rgb(227,225,225) 87%, rgb(230,228,228) 90%, rgb(232,231,231) 100%);
    box-shadow: inset 0px -2px 3px 0px rgba(41, 41, 41, 0.05);
}

.active {
    font-family: 'open_sanssemibold';
    font-size: 20px;
    line-height: 1.1;
    padding: 16px 0px 16px 30px;
    background-color: #5dceb2;
    background-image: -moz-linear-gradient( 90deg, rgb(62,183,153) 0%, rgb(126,232,206) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(62,183,153) 0%, rgb(126,232,206) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(62,183,153) 0%, rgb(126,232,206) 100%);
    box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.16),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
    border: 1px solid #2fa185;
    box-sizing: border-box;
    color: #1e7465;
    text-decoration: none;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.35);
}

.heading {
    background-color: #eac171;
    background-image: -moz-linear-gradient( 90deg, rgb(220,177,93) 0%, rgb(244,204,126) 90%);
    background-image: -webkit-linear-gradient( 90deg, rgb(220,177,93) 0%, rgb(244,204,126) 90%);
    background-image: -ms-linear-gradient( 90deg, rgb(220,177,93) 0%, rgb(244,204,126) 90%);
    box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.17),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.25);
    padding: 11px 0px 11px 30px;
    font-family: 'open_sanssemibold';
    color: #d0982c;
    font-size: 20px;
    line-height: 1.1em;
    text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
    border: 1px solid #caa152;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.contact_menu {
    position: relative;
    padding: 10px 0px 10px 60px;
    display: block;
    color: rgb(114, 112, 112);
    height: 38px;
    box-sizing: border-box;
    font-size: 14px;
    line-height: 1.2;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(214, 213, 211);
    background-color: #fff;
    background-image: -moz-linear-gradient( 90deg, rgb(233,231,231) 0%, rgba(251,249,249,0) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(233,231,231) 0%, rgba(251,249,249,0) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(233,231,231) 0%, rgba(251,249,249,0) 100%);
    box-shadow: 0px 1px 0px 0px rgba(255, 255, 255, 0.35),inset 0px 2px 2px 0px rgba(114, 112, 112, 0.1);
}

.contact_menu:hover {
	-webkit-box-shadow: 0 0 1px rgba(255,255,255,.15), inset 0 2px 2px rgba(114,112,112,.1);
	-moz-box-shadow: 0 0 1px rgba(255,255,255,.15), inset 0 2px 2px rgba(114,112,112,.1);
	box-shadow: 0 0 1px rgba(255,255,255,.15), inset 0 2px 2px rgba(114,112,112,.1);
	background-image: -webkit-linear-gradient(bottom, rgba(224,197,145,.45), rgba(251,249,249,0));
	background-image: -moz-linear-gradient(bottom, rgba(224,197,145,.45), rgba(251,249,249,0));
	background-image: -o-linear-gradient(bottom, rgba(224,197,145,.45), rgba(251,249,249,0));
	background-image: -ms-linear-gradient(bottom, rgba(224,197,145,.45), rgba(251,249,249,0));
	background-image: linear-gradient(to top, rgba(224,197,145,.45), rgba(251,249,249,0));
    text-decoration: underline;
}

.contacts {
    padding: 0px;
    list-style: none;
}

.contact_link:before {
    position: absolute;
    left: 30px;
    top: 7px;
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    transform: rotate(45deg) skew(13deg, 13deg);
    border-top: 1px solid #e3c17e;
    border-right: 1px solid #e3c17e;
    background-position: -36px -5px;
}

.sprite-email {
    position: absolute;
    left: 15px;
    top: 13px;
    width: 16px;
    height: 12px;
    background-position: -36px -5px;
}

.sprite-skype {
    position: absolute;
    left: 15px;
    top: 9px;
    width: 19px;
    height: 19px;
    background-position: -36px -114px;
}

.sprite-telephone {
    position: absolute;
    left: 15px;
    top: 9px;
    width: 16px;
    height: 21px;
    background-position: -65px -114px;
}